*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
    width: 100%;
    height: 15vh;
    background-color: maroon;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.utama{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bks-utama{
    width: 90%;
    height: 80vh;
        display: flex;
    justify-content: center;
    align-items: center;
}
.kiri{
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.box{
    width: 85%;
    height: 30vh;
    background-color: maroon;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 4px black;
    margin-left: 20px;
    margin-bottom: 20px;
    color: white;
}
.bks-kiri{
    width: 75%;
    height: 75vh;
    overflow: scroll;
}
.box p,.box input {
    margin-left: 50px;
    margin-top: 25px;
}
.box p{
    margin-top: 30px;
}
.bks-kiri::-webkit-scrollbar{
    display: none;
}
.kanan{
    width: 40%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nilai{
    width: 100%;
    height: 40vh;
}
.p{
    width: 100%;
    height: 5vh;
    text-align: center;
}
.kotak{
    width: 100%;
    height: 35vh;
    background-color: maroon;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bks-kotak{
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}







@media(max-width:667px){
    .bks-utama{
        flex-wrap: wrap;
    }
    .kiri{
        flex-wrap: wrap;
    }
    .bks-kiri{
        width: 100%;
        flex-wrap: wrap;
    }
    .box{
        width: 90%;
        height: 30vh;
        font-size: 9px;
    }
    .box p,.box input{
        font-size: 12px;
    }
    .kanan{
        width: 100%;
    }
    .kotak{
        margin-top: 20px;
    }
}